html
{
  height:100%;
}
body
{
            
  transition:all 0.3s ease;
  background-image: url("images/10.jpg");
  font-family: 'Tangerine', serif;
  font-size: 48px;
  background-size: auto 100%;



}
h2
{
  font-family: 'Tangerine', serif;
  font-size:50px;
  color:orange;
  font-weight: 900;
  padding-left: 400px;
}
h3
{
  font-family: 'Tangerine', serif;
  font-size: 40px;
  color:orange;
    font-weight: 900;
      padding-left: 400px;


}

thead
{
  font-family: 'Tangerine', serif;
  font-size: 30px;
  color:orange;
    font-weight: 900;

}

tbody
{
  font-family: 'Tangerine', serif;
  font-size: 20px;
}