body
{
  background-image: url("images/10.jpg");
}
h2
{
  font-family: 'Tangerine', serif;
  font-size:50px;
  color:orange;
  font-weight: 900;
  padding-left: 400px;
}
h3
{
  font-family: 'Tangerine', serif;
  font-size: 40px;
  color:orange;
    font-weight: 900;
      padding-left: 400px;


}

thead
{
  font-family: 'Tangerine', serif;
  font-size: 30px;
  color:orange;
    font-weight: 900;

}

tbody
{
  font-family: 'Tangerine', serif;
  font-size: 20px;
}