{% load staticfiles %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="{% static "cache_in/css/style.css" %}" type="text/css" media="all">
<div class="container">
	<h2>LEADERBOARD</h2>
	<h3>Do you have what it takes?</h3>
	<table class="table">
		<thead>
			<tr>
			<th>USERNAME</th>
			<th>SCORE</th>
			</tr>
		</thead>
		<tbody>
		{% if leaders %}
			{% for us in leaders %}
			<tr class="success">
				<td style="font-size:40px">{{us.user}}</td>
				<td style="font-size:40px">{{us.score}}</td>
			</tr>
			{% endfor %}
		{% endif %}
		</tbody>
	</table>
</div>


